/*h1 {
    margin-bottom: 0;
}

p{
    margin-top: 10px;
}*/
.btn {
    cursor: pointer;
    cursor: hand;
    border-radius: 3px;
    padding: 3px 6px;
    background-color: #333;
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    background-color: #262626;
    color: #aaa;
}

.btn.btn-light {
    background-color: #eee;
    color: #333;
}

.btn.btn-light:hover,
.btn.btn-light:focus {
    background-color: #ddd;
    color: #333;
}

.box {
    display: block;
    float: left;
    height: 50%;
    width: 50%;
    position: relative;
}

.box:hover, .box:focus{
    opacity: 0.9;
}

#box1 {
    background-color: #BAC9D0;
    /*background-color: #88A5B3;*/
    /*background-color: #c5f3fc;*/
}

#box1 a {
    color: #BAC9D0;
    /*color: #88A5B3;*/
    /*color: #c5f3fc;*/
}

#box2 {
    background-color: #89F1EF;
    /*background-color: #61cac8;*/
}

#box2 a {
    color: #89F1EF;
    /*color: #61cac8;*/
}

#box3 {
    background-color: #A2A0DC;
}

#box3 a {
    color: #A2A0DC;
}

#box4 {
    background-color: #56E0B3;
    /*background-color: #9bff9b;*/
}

#box4 a {
    color: #56E0B3;
    /*color: #9bff9b;*/
}

.pad-wrap {
    height: 100%;
    width: 100%;
    position: relative;
}

.btm {
    margin-left: 10%;
    margin-bottom: 10%;
    position: absolute;
    bottom: 0;
}

.right {
    margin-right: 10%;
    margin-top: 10%;
    text-align: right;
    position: absolute;
    right: 0;
}

.left {
    margin-left: 10%;
    margin-top: 10%;
    position: absolute;
    left: 0;
}

html {
    margin: 0;
    padding: 0;
    /*max-width: 1000px;*/
    height: 100%;
    font-family: Raleway;
    background-color: #333;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    margin: auto;
    padding: 0;
    height: 100%;
    max-height: 850px;
    max-width: 980px;
    position: relative;
}

.inline-list > li {
    display: inline;
    margin-right: 10px;
}

#overlay {
    color: #eee;
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    /*height: 50%;*/
    width: 50%;
    background-color: #333;
    z-index: 1;
    -webkit-box-shadow: 7px 7px 18px -4px rgba(51,51,51,1);
    -moz-box-shadow: 7px 7px 18px -4px rgba(51,51,51,1);
    box-shadow: 7px 7px 18px -4px rgba(51,51,51,1);
}

#closeOverlay{
    display: block;
    color: #333;
    background-color: #eee;
    z-index: 2;
}

#aboutOverlay{
    margin: 10%;
}

#btnOverlay{
    margin-right: 10%;
}

#aboutOverlay ul {
    list-style: none;
    padding: 0;
}

#aboutOverlay ul li {
    margin: 10px 0;
    padding: 5px 0;
}

/*footer {
    text-align: center;
    max-width: 719px;
    margin: auto;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    margin: auto;
    font-size: 12px;
    display: inline;
}

footer a {
    color: #eee;
    text-decoration: none;
}

.block {
    display: block;
}

.col-5{
    float: left;
    width: 50%;
}*/

@media screen and (max-width: 979px) {
    .box {
        /*clear: both;*/
        width: 100%;
    }
    .container{
        margin: 5%;
    }
}

@media screen and (max-width: 719px) {
    .box {
        clear: both;
        width: 100%;
        height: 50%;
    }
    .container{
        margin: 10%;
    }
    #overlay{
        top: 25%;
        left: 10%;
        /*height: 60%;*/
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .box {
        clear: both;
        width: 100%;
        height: 50%;
    }
    .container{
        margin: 0;
    }
}

#hackzor {
    color: #21FF27;
    text-decoration: none;
    border-bottom: 1px dashed #eee;
}

#email{
    background-color: #BAC9D0;
    text-decoration: none;
}

#github{
    background-color: #89F1EF;
    text-decoration: none;
}
#stackoverflow{
    background-color: #A2A0DC;
    text-decoration: none;
}
#linkedin{
    background-color: #56E0B3;
    text-decoration: none;
}

#aboutOverlay #profile li {
    display: inline;
    margin-right: 10px;
}
